/tmp
/node_modules
package-lock.json
yarn.lock
/npm-debug.log
/examples/*.log
/examples/*.json

*.log

.DS_Store
.idea
.vscode

/coverage
/website
/dist
/jest-allure2-reporter-*.tgz

/__fixtures__/allure-results
/__fixtures__/results
