# Files

.DS_Store
*.log
*.tgz
package-lock.json
npm-debug.log

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Folders

.idea/
.vscode/
allure-report/
allure-results/
coverage/
dist/
node_modules/
tmp/
